h1 {
    text-align:center;
}

.panel {
    margin-top:100px;
}

p {
    font-weight:bold;
    font-size:3em;
}

.progress {
    width:95%; 
    margin:0 auto;
    margin-bottom:15px;
}

@media screen and (max-width:600px) {
    .panel-body {
        text-align:center;
        height:350px;
    }
    
    .panel {
        margin-top:75px;
    }
    
    .panel-footer {
    text-align:center;
        margin:0 auto;
    }
}